footer
  .container.text-center
    p.pull-left © 2017 T là bố thiên hạ rồi!!!
    ul.pull-right.list-inline
      li
        a(href='https://github.com/vthang95/back-end') My github project
      li
        a(href='https://github.com/vthang95/back-end/issues') Issues
