extends layout

block content
  h1 Welcome to my page
  p.lead A project using MVC
  hr
  .row
    .col-sm-6
      h2 Heading
      p first
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p second
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p third
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p last
      p
        a.btn.btn-default(href='#', role='button') View details »